:root {
    --bodycolor: rgb(19, 17, 17);
    --background: #1b1d1c;
    --bg-color: #1e201f;
    --bottom-bg-color: #101d1e;
    --bottom-text-active-color: #0c5dc5;
    --bottom-text-inactive-color: #dedede;
    --button-bg-color: #0060d1;
    --button-bg-inactive-color: #ffffff;
    --button-text-color: #ffffff;
    --button-text-inactive-color: #000000;
    --check-box-active-color: #0060d1;
    --check-box-border-color: #0060d1;
    --check-box-inactive-color: #fafafa;
    --header-color-1: #191919;
    --header-color-2: #292929;
    --header-text-color: #ffffff;
    --icon-bg-color: #252726;
    --icon-bg-front-color: #434343;
    --icon-border-color: #79797a;
    --icon-widget-color: #ebebeb;
    --radio-box-active-color: #0060d1;
    --radio-box-inactive-color: #b0b0b0;
    --shadow-color: #242424;
    --special-button-background-color-1: #edfc74;
    --special-button-background-color-2: #f5ffa8;
    --status-bar-color: #191919;
    --sub-text-color: #000000;
    --text-color: #ffffff;
    --view-all-text-color: #ffffff;
    --bordercolor: rgb(116, 105, 105);
    --ctbg: rgb(20, 19, 19);
}

body {

    background-color: var(--bg-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    -webkit-text-size-adjust: 100%;
    color: var(--text-color);
}

#tiket_header {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 10px 0px;
}

.leftMetro {
    display: flex;
    align-items: center;
}

.leftMetro img {
    margin-right: 10px;
}

.ibutton img {
    width: 24px;
    height: 24px;
}



.contact-body {
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 0;
    padding: 20px 6px;
    margin: 45px 0 0 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--header-color-2);

}

.contact-image {
    width: 65%;
    margin-bottom: 10px;
}


.content {
    overflow-y: auto;
    max-height: 100vh;
    margin-top: 5px;
    text-align: center;
    padding: 20px;
    border: 1px solid var(--icon-border-color);
    border-radius: 10px;
}

.content h2 {
    font-weight: 500;
    font-size: 14px;

}

.content p {
    font-weight: 300;
    font-size: 12px;
    padding: 20px 0px;

}

.content a {
    text-decoration: none;
    font-weight: 500;

}

.contact-options {
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--icon-border-color);
    margin-top: 20px;
    padding-top: 20px;
  }
  
  .option {
    display: flex;
    align-items: center;
    padding: 10px;

  }
  
  .optiontype {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .optiontype span {
    margin: 0 10px; 
    font-size: 12px;
  }
  
  .optiontype img {
    width: 30px; /* Adjust image size as needed */
    height: 30px;
    margin-right: 10px; /* Adjust spacing between image and text */
    filter: invert(100%);
  }
  
  .arrowimg img {
    width: 10px;
    height: 13px;
    filter: invert(100%);
  }
  .floating-box {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px); 
    max-width: 320px;
    background-color: #fff;
    color: var(--sub-text-color);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-weight: bold;
  }
  .floating-box p {
  color: var(--sub-text-color);
  }
  
  .green-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5px;
    height: 100%;
    background-color: #4CAF50; 
    border-radius: 10px 0 0 10px;
  }
  