:root {
    --bodycolor: rgb(19, 17, 17);
    --background: #1b1d1c;
    --bg-color: #1e201f;
    --bottom-bg-color: #101d1e;
    --bottom-text-active-color: #0c5dc5;
    --bottom-text-inactive-color: #dedede;
    --button-bg-color: #0060d1;
    --button-bg-inactive-color: #ffffff;
    --button-text-color: #ffffff;
    --button-text-inactive-color: #000000;
    --check-box-active-color: #0060d1;
    --check-box-border-color: #0060d1;
    --check-box-inactive-color: #fafafa;
    --header-color-1: #191919;
    --header-color-2: #292929;
    --header-text-color: #ffffff;
    --icon-bg-color: #252726;
    --icon-bg-front-color: #434343;
    --icon-border-color: #79797a;
    --icon-widget-color: #ebebeb;
    --radio-box-active-color: #0060d1;
    --radio-box-inactive-color: #b0b0b0;
    --shadow-color: #242424;
    --special-button-background-color-1: #edfc74;
    --special-button-background-color-2: #f5ffa8;
    --status-bar-color: #191919;
    --sub-text-color: #000000;
    --text-color: #ffffff;
    --view-all-text-color: #ffffff;
    --bordercolor: rgb(116, 105, 105);
    --ctbg: rgb(20, 19, 19);


    /* --ease: cubic-bezier(0.23, 1, 0.32, 1);
    --duration: 350ms;
    --section-offset: 0; */
}

body {

    background-color: var(--header-color-1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    -webkit-text-size-adjust: 100%;
    color: var(--text-color);
    font-size: 12px;
}

.label-classe {
    background-color: var(--bg-color);
}

#tiket_header {
    background-color: var(--header-color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 10px 0px;
}

.leftMetro {
    display: flex;
    align-items: center;
}

.leftMetro img {
    margin-right: 10px;
}

.ibutton img {
    width: 24px;
    height: 24px;
}


.section-container {
    display: none;
}


.list-body {
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 0;
    padding: 20px 6px;
    margin: 45px 0 0 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--shadow-color);

}
.line-details {
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 0;
    padding: 20px 20px;
    margin: 45px 0 0 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--shadow-color);

    overflow-y: auto;
  

}


.metrolines-container {
    overflow-y: auto;
    max-height: 80vh;
    margin-top: 5px;
    max-width: 500px;
  

}
.line-detail-cont {
    overflow-y: auto;
    max-height: 80vh;
    margin-top: 5px;

}



.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    border-radius: 16px;
    border: 2px solid;

    font-size: 18px;
   
    padding: 15px;
  }
  
  
  .line .icon {
  
   display: flex;
   justify-content: center;
   
  }
  .icon2 {
  
   display: flex;
   justify-content: center;
   
  }
  .line .nxt-arrow {
  
   display: flex;
   justify-content: center;
   
  }
  .line .nxt-arrow  object{
    width: 8px;
    height: 20px;
  
  }
  .line .icon  object{
    width: 30px;
    height: 30px;
  
  }

.line-about-detail .icon2  object{
    width: 15px;
    height: 15px;
  
  }
  
  .line .info {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .line .line-name {
    font-size: 12px;
    font-weight: 500;
  }
  
  .line .line-color {
    font-size: 9px;
    font-weight: 300;
  }
  



  .route-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .route-info .station {
    flex: 1;
    text-align: center;

  }

  
  .route-info .logo {
    flex: 0;
    text-align: center;
  }

  .line-about-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
  
  }
  .line-about-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2px;
    border: 2px solid var(--icon-border-color) ;
    border-radius: 10px;
    width: 56px;
    padding: 5px;
  }

  .lt{
    font-size: 7px;
  }

  .ut{
    font-size: 10px;
    padding: 5px 0px ;
  }


  .metrolines-details{
    display: none;
  }
  

  .station-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--icon-border-color);
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    }
    
    
    
    
    
    .station-item:hover {
      background-color: #555;
      cursor: pointer;
    }
    

    #bottomcont{
      margin-bottom: 40px;
    }
  
  