:root {
    --bodycolor: rgb(19, 17, 17);
    --background: #1b1d1c;
    --bg-color: #1e201f;
    --bottom-bg-color: #101d1e;
    --bottom-text-active-color: #0c5dc5;
    --bottom-text-inactive-color: #dedede;
    --button-bg-color: #0060d1;
    --button-bg-inactive-color: #ffffff;
    --button-text-color: #ffffff;
    --button-text-inactive-color: #000000;
    --check-box-active-color: #0060d1;
    --check-box-border-color: #0060d1;
    --check-box-inactive-color: #fafafa;
    --header-color-1: #191919;
    --header-color-2: #292929;
    --header-text-color: #ffffff;
    --icon-bg-color: #252726;
    --icon-bg-front-color: #434343;
    --icon-border-color: #79797a;
    --icon-widget-color: #ebebeb;
    --radio-box-active-color: #0060d1;
    --radio-box-inactive-color: #b0b0b0;
    --shadow-color: #242424;
    --special-button-background-color-1: #edfc74;
    --special-button-background-color-2: #f5ffa8;
    --status-bar-color: #191919;
    --sub-text-color: #000000;
    --text-color: #ffffff;
    --view-all-text-color: #ffffff;
    --bordercolor: rgb(116, 105, 105);
    --ctbg: rgb(20, 19, 19);
  
  
    /* --ease: cubic-bezier(0.23, 1, 0.32, 1);
      --duration: 350ms;
      --section-offset: 0; */
  }
  
  body {
  
    background-color: var(--header-color-1);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    -webkit-text-size-adjust: 100%;
    color: var(--text-color);
    font-size: 12px;
  }
  
  .label-classe {
    background-color: var(--bg-color);
  }
  
  #tiket_header {
    background-color: var(--header-color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 10px 0px;
  }
  
  .leftMetro {
    display: flex;
    align-items: center;
  }
  
  .leftMetro img {
    margin-right: 10px;
  }
  
  .ibutton img {
    width: 24px;
    height: 24px;
  }
  

  .park-body {
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 0;
    align-items: center;

    margin: 45px 0 0 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    border-radius: 20px;
    background-color: var(--shadow-color);
  }
  
  
  
  
  
  
  .park-cont {
    width: 100%;
    max-width: 500px;
    overflow-y: auto;
    max-height: 80vh;
    margin-top: 5px;
    padding: 20px;
    border-radius: 10px;
  
  }


  .image-container {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}

.parking-image {
    width: 100%;
    height: auto;
    display: block;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to bottom, rgb(8 0 0 / 0%) 0%, var(--shadow-color) 100%);
}


.content {
    /* background-color: #2a2a2a; */

    border-radius: 10px;
}

.info-list {
    margin-bottom: 15px;
    list-style: none;
    padding-left: 10px;
}
.info-list li {
font-size: 9px;
}

.diff h2{
  text-align: center;
  margin: 15px 0px;
}

.charges {
margin: 10px 0px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--icon-border-color);
    background-color: var(--icon-bg-color);
}
.charges-section h3 {
  text-align: center;
  margin: 15px 0px;
}
.charges p{

  text-align: center;
  margin: 15px 0px;
}

.charge-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px ;
}

.charge-row span:last-child {
    border: 1px solid var(--icon-border-color);
    border-radius: 10px;
    padding: 5px;
    font-size: 10px;
}
