:root {
    --bodycolor: rgb(19, 17, 17);
    --background: #1b1d1c;
    --bg-color: #1e201f;
    --bottom-bg-color: #101d1e;
    --bottom-text-active-color: #0c5dc5;
    --bottom-text-inactive-color: #dedede;
    --button-bg-color: #0060d1;
    --button-bg-inactive-color: #ffffff;
    --button-text-color: #ffffff;
    --button-text-inactive-color: #000000;
    --check-box-active-color: #0060d1;
    --check-box-border-color: #0060d1;
    --check-box-inactive-color: #fafafa;
    --header-color-1: #191919;
    --header-color-2: #292929;
    --header-text-color: #ffffff;
    --icon-bg-color: #252726;
    --icon-bg-front-color: #434343;
    --icon-border-color: #79797a;
    --icon-widget-color: #ebebeb;
    --radio-box-active-color: #0060d1;
    --radio-box-inactive-color: #b0b0b0;
    --shadow-color: #242424;
    --special-button-background-color-1: #edfc74;
    --special-button-background-color-2: #f5ffa8;
    --status-bar-color: #191919;
    --sub-text-color: #000000;
    --text-color: #ffffff;
    --view-all-text-color: #ffffff;
    --bordercolor: rgb(116, 105, 105);
    --ctbg: rgb(20, 19, 19);


    /* --ease: cubic-bezier(0.23, 1, 0.32, 1);
      --duration: 350ms;
      --section-offset: 0; */
}

body {

    background-color: var(--header-color-1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    -webkit-text-size-adjust: 100%;
    color: var(--text-color);
    font-size: 12px;
}

.label-classe {
    background-color: var(--bg-color);
}

#tiket_header {
    background-color: var(--header-color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 10px 0px;
}

.leftMetro {
    display: flex;
    align-items: center;
}

.leftMetro img {
    margin-right: 10px;
}

.ibutton img {
    width: 24px;
    height: 24px;
}


.station-body {
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 0;
    align-items: center;
    /* padding: 20px 6px; */
    margin: 45px 0 0 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    border-radius: 20px;
    background-color: var(--shadow-color);
}






.station-cont {
    width: 100%;
    max-width: 500px;
    overflow-y: auto;
    max-height: 100vh;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;

}



.station-list {
    margin-top: 10px;
    padding: 0 10px;
    background-color: var(--icon-bg-color);
}

.station {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    margin-bottom: 10px;
    padding: 5px;
    /* border-radius: 5px; */
    border-bottom: 1px solid var(--icon-border-color);

}

.station-name {
    width: 120px;
    font-weight: bold;
    font-size: 11px;
}

.coloring {
    padding: 1px 4px;
    border-radius: 5px;

    /* font-size: 14px; */
    /* font-weight: bold; */
}

.station-colors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;

}

.station-colors span {
    margin: 3px;

}











.modal-content {
    background-color: var(--headerColor1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: var(--textColor);


}




#heading {
    margin: 0px;
    font-size: 17px;
    margin-left: 12px;
}


.close-btn {
    color: var(--textColor);
    font-size: 14px;
    cursor: pointer;
    margin: 0px;
    padding-top: 4px;

}



#modal-container {
    display: flex;
    justify-content: flex-start;
    flex: 50%;
}



#search-icon {
    margin-right: 40px;
    float: right;
    filter: invert(100%);
}

#search-icon2 {
    filter: invert(100%);
    height: 20px;
    width: 20px;
    margin-left: 15px;
    display: none;

}


#station-search {
    display: none;
    width: 100%;
    padding: 10px;
    border: none;
    padding-bottom: 0px;
    border-bottom: 1px solid var(--iconBorderColor);
    background-color: var(--headerColor1);
    color: var(--textColor);

}

#station-search:focus {
    outline: none;
}






.clear-icon {
    display: none;
    cursor: pointer;
    color: white;
    /* Set the color to white */
    padding-right: 10px;
    border-bottom: 1px solid var(--iconBorderColor);

}